/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/OptimalSolutionCore.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/optimal_solution_core.egg-info/
/dist/
